    
@font-face {
    font-family: 'yekan';
    src: url('./assets/fonts/Yekan.ttf');
}
@font-face {
    font-family: 'iransans';
    src: url('./assets/fonts/Sans a4fran3.ttf');
}
@font-face {
    font-family: 'tanha';
    src: url('./assets/fonts/Tanha.ttf');
}
@font-face {
    font-family: 'vazir';
    src: url('./assets/fonts/Vazir.ttf');
}